@model SweetsAndSnacks.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group mb-3 ">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 ">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 ">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control"
                        asp-items="Html.GetEnumSelectList<Category>()">
                    <option value="">---Select---</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 ">
                <label asp-for="Pricing" class="control-label"></label>
                <input asp-for="Pricing" class="form-control" />
                <span asp-validation-for="Pricing" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 ">
                <label asp-for="PricingQuantity" class="control-label"></label>
                <input asp-for="PricingQuantity" class="form-control" />
                <span asp-validation-for="PricingQuantity" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 ">
                <label asp-for="QuantityUnit" class="control-label"></label>
                <select asp-for="QuantityUnit" class="form-control"
                        asp-items="Html.GetEnumSelectList<QuantityUnit>()">
                    <option value="">---Select---</option>
                </select>
                <span asp-validation-for="QuantityUnit" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 ">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input asp-for="ImageName" class="form-control" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdatedBy" class="control-label"></label>
                <input asp-for="LastUpdatedBy" class="form-control" />
                <span asp-validation-for="LastUpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdatedAt" class="control-label"></label>
                <input asp-for="LastUpdatedAt" class="form-control" />
                <span asp-validation-for="LastUpdatedAt" class="text-danger"></span>
            </div>*@
            <input asp-for="ImageName" type="hidden" />
            <div class="form-group mb-3 ">
                <img src="/images/@Model.ImageName" style="max-width:300px;" asp-append-version="true"/>
            </div>
            <div class="form-group mb-3 ">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

